@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
/* Reset default styles */

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


/* Set basic styles for HTML and body */
html,
body {
  height: 100vh;
  margin: 0;
  width: 100%;
  font-family: "Karla", sans-serif;
}

/* Style images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}


/*page header*/

#main-header {
  display: flex;
  background-color: hwb(95 41% 51%);
  justify-content: space-between;
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.image-logo {
  width: 150px;
  padding: 20px;
}

#logo-wrapper {
  display: flex;
  align-items: center;
  color: rgb(12, 12, 12);
}

/*Nav menu*/

#main-menu {
  position: absolute;
  right: 0px;
  list-style: none;
  background-color: hwb(95 41% 51%);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(216, 179, 13);
  color: white;
  width: 100%;
  z-index: 2;
}

#main-menu>ul {
  list-style: none;
  padding: 0;
}

#main-menu>ul>li>a {
  display: inline-block;
  color: rgb(12, 12, 12);
}

#main-menu,
#hamburger {
  display: none;
}

#hamburger:checked+#main-menu {
  display: block;
}

li {
  flex-grow: 1;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  font-family: "Karla", sans-serif;
  color: black;
  justify-content: center;
  align-items: center;
}

li a {
  text-decoration: none;
  color: rgb(7, 7, 7);
  font-family: "Karla", sans-serif;
  font-size: 16px;
  text-align: center;
}

li:hover a {
  color: rgba(255, 187, 0, 0.986);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

/** Media queries */
@media (min-width: 920px) {
  .hamburger-icon {
    display: none;
  }

  .image-banner {
    padding-top: 80px;
  }

  #main-menu {
    display: flex;
    background: transparent;
    box-shadow: none;
    width: 60%;
    align-items: flex-end;
    font-size: 16px;
  }
}

@media screen and (min-width: 1201px) {
  .li {
    font-size: 15px;
  }

}

/*.heading-over-image {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #D1EB4B;
  font-size: 60px;
  font-family: "Karla", sans-serif;
}*/

#banner {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 240px) and (max-width: 900px) and (min-resolution: 2dppx) {
  .heading-over-image {
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
  }

  #main-header {
    height: 70px;
  }

  .image-banner {
    padding-top: 70px;
  }

  .image-logo {
    height: 50px;
    width: auto;
  }

  .social-icon img {
    height: 30px;
  }

}

#main-content {
  background-color: white;
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}

.button {
  background-color: orange;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* Button Hover Effect */
.button:hover {
  background-color: darkorange;
}

/* Button Animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

button.animated {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

button a {
  color: black;
}

/*footer*/
.footer-wrapper {
  background-color: hwb(95 41% 51%);
  padding: 20px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-section img {
  height: 100px;
}

.social-icons img {
  height: 35px;
  display: inline-block;
  padding: 20px;
}

.terms-privacy p a {
  text-decoration: none;
  color: rgb(205, 50, 50);
}
.footer-section p{
  text-align: center;
}

.footer-section h4 {
  text-align: center;
  padding: 15px;
}

.terms-privacy h3 {
  text-align: center;
  padding: 20px;
}

.terms-privacy p {
  text-align: center;
  font-size: 15px;
}

.hamburger-icon img {
  width: 40px;
  height: auto;
}

.terms-privacy a {
  color: black;
}

.terms-privacy a:hover {
  color: #D1EB4B;
}


@media (max-width: 920px) {
  .hamburger-icon img {
    width: 30px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .terms-privacy p {
    font-size: 15px;
  }

}

a {
  text-decoration: none;
  color: black;
}
a:hover{
  color: #233c69;
}