@import url(./global.css);

/*--index page--*/
/*--Products ofr js--*/
/* Style for product container */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* Style for individual product card */
.product {
    width: 300px;
    background-color: hwb(95deg 70.62% 23.94%);
    border-radius: 15px 0px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product:hover {
    background-color: hwb(95 41% 51%);
}

.product h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.product img {
    width: 100%;
    border-radius: 10px 0px;
    margin-bottom: 15px;
}

.product .product-price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.product .add-to-cart-button{
    background-color: orange;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.product .add-to-cart-button:hover {
    background-color: #ff603d;
}



.container1 {
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.green {
    background-color: #365D3A;
}

.red {
    background-color: #D63A4E;
}

.text-container h2 {
    color: white;
    font-size: 32px;
    text-align: center;
}

.text-container p {
    color: white;
    font-size: 24px;
    padding: 30px;
    text-align: center;
}

.text-container {
    flex: 1;
}

.image-container {
    flex: 1;
}


/* Media Query for smaller screens (e.g., mobile devices) */
@media (max-width: 920px) {
    .red {
        flex-direction: column-reverse;
    }

    .green {
        flex-direction: column;
    }

    .container1 h2 {
        font-size: 20px;
    }

    .container1 p {
        font-size: 18px;
    }

    .text-container {
        text-align: center;
    }

    .Product-image {
        max-width: 100%;
        height: auto;
    }

    .heading {
        font-size: 20px;
    }

    .container-sale {
        flex-direction: column;
    }
}

.article {
    display: grid;
    place-items: center;
    text-align: center;
    padding: 10px;
    background-color: hwb(95deg 70.62% 23.94%);
    border-radius: 20px 0px;
}

.article:hover {
    background-color: hwb(95 41% 51%);
}

.article:active {
    background-color: #D1EB4B;
}

.Product-image {
    height: 400px;
    width: auto;
    border-radius: 15px 0px;
}

article a {
    color: black;
}

.jacket1,
.jacket2,
.jacket3,
.jacket4,
h2 {
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

.jacket1,
.jacket2,
.jacket3,
.jacket4,
p {
    font-size: 20px;
    padding: 20px;
}


.heading {
    color: black;
    text-align: left;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.container-sale {
    display: flex;
    align-items: center;
    background-color: #FFD504;
    padding: 20px;
}

.container-sale h2 {
    font-size: 32px;
    color: black;
    text-align: center;
}

.sale-image {
    width: 400px;
    height: auto;

}

/*--Men Collection--*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 50px;
    place-items: center;
}

.grid-item {
    text-align: center;
    width: 100%;
    place-items: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.grid-item img {
    height: 400px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s;
}

.jacket-name {
    font-weight: bold;
    margin-top: 10px;
}

.price {
    color: #666;
}

h1 {
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 30px;
}

@media (max-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/*----About us page---*/

.container2 {
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.image-container,
.text-container1 {
    width: 60%;
}

.text-container1 h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: black;
}

.text-container1 p {
    font-size: 20px;
    line-height: 1.5;
}

.text-container1 h3 {
    font-family: "Karla", sans-serif;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .content-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .image-container,
    .text-container1 {
        width: 100%;
    }

    .text-container1 p {
        font-size: 16px;
    }

    .text-container1 h2 {
        font-size: 18px;
    }
}

/*---success page---*/
.success-container {
    max-width: 800px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.success-container img {
    margin: 0 auto;
}

.success-container p {
    justify-content: center;
    padding: 20px;
}


.cart-count-added {
    color: rgb(216, 235, 11); /* Change to your desired color */
}
