@import url(./global.css);

/*--index page--*/


.container1 {
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.green {
    background-color: #365D3A;
}

.red {
    background-color: #D63A4E;
}

.text-container h2 {
    color: white;
    font-size: 32px;
    text-align: center;
    font-family: "Karla", sans-serif;
}

.text-container p {
    color: white;
    font-size: 24px;
    font-family: "Karla", sans-serif;
    padding: 30px;
    text-align: center;
}

.text-container {
    flex: 1;
}

.image-container {
    flex: 1;
}



/* Media Query for smaller screens (e.g., mobile devices) */
@media (max-width: 920px) {
    .red {
        flex-direction: column-reverse;
    }

    .green {
        flex-direction: column;
    }

    .container1 h2 {
        font-size: 20px;
    }

    .container1 p {
        font-size: 18px;
    }

    .text-container {
        text-align: center;
    }

    .Product-image {
        max-width: 100%;
        height: auto;
    }

    .heading {
        font-size: 20px;
    }
  
    .container-sale{
        flex-direction: column;
    }
}

.article {
    display: grid;
    place-items: center;
    text-align: center;
    padding: 10px;
}

.jacket1 {
    background-color: #E5452B;
}

.jacket2 {
    background-color: #C30000;
}

.jacket4 {
    background-color: #3EC7BE;
}

.jacket3 {
    background-color: #702D59;
}

.Product-image {
    height: 400px;
    width: auto;
}

.jacket1,
.jacket2,
.jacket3,
.jacket4,
h2 {
    text-align: center;
    font-size: 24px;
    padding: 20px;
    font-family: "Karla", sans-serif;
    color: white;
}

.jacket1,
.jacket2,
.jacket3,
.jacket4,
p {
    font-size: 20px;
    padding: 20px;
}


.heading {
    color: black;
    text-align: left;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
.container-sale {
    display: flex; 
    align-items: center; 
    background-color: #FFD504;
    padding: 20px;
}
.container-sale h2{
    font-size: 32px;
    font-family:"Karla", sans-serif;
    color: black;
    text-align: center;
}

.sale-image {
    width: 400px; 
    height: auto; 
     
}

/*--Men Collection--*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px; 
    background-color: #f0f0f0; 
    padding: 20px; 
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 50px;
    place-items: center;
}

.grid-item {
    text-align: center;
    width: 100%;
    place-items: center;
}

.grid-item img {
    height: 400px; 
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.jacket-name {
    font-weight: bold;
    margin-top: 10px;
    font-family:"Karla", sans-serif;
}

.price {
    color: #666; 
}

h1{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid black ;
    font-size: 30px;
    font-family:"Karla", sans-serif ;
}

@media (max-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }
}
/*----About us page---*/

.container2 {
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 100%;
}

.image-container,
.text-container1 {
    width: 60%;
}

.text-container1 h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: black;
    font-family:"Karla", sans-serif;
}

.text-container1 p {
    font-size: 20px;
    line-height: 1.5;
    font-family:"Karla", sans-serif;
}
.text-container1 h3{
    font-family:"Karla", sans-serif;
}

.image-container img {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 600px) {
    .content-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .image-container,
    .text-container1 {
        width: 100%; 
    }
    .text-container1 p{
        font-size: 16px;
    }
    .text-container1 h2 {
        font-size: 18px;
    }
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.terms h1{
    color: black;
    padding-top: 100px;
}
.terms h2{
    color: black;
    text-align: left;
    font-size: 20px;
    font-family:"Karla", sans-serif;
}
.terms p{
    font-family:"Karla", sans-serif;
    font-size: 18px;
}